:root{
--color-naranja-cafe-bajo:#C8725B;
--color-naranja-cafe-fuerte: #B3513C;
--color-beige-amarillento: #DEC19B;
--color-azul-dino: #9CDED4;
--color-verde-dino-bajo: #C6ECCF;
--color-verde-dino:#60CA92;
--color-rosa-piel: #EBCBC2;
--color-piel-fuerte: #D29879;

}

#main{
    display: flex;
    align-items: center;
    justify-content: center;}


#calculator{
    width: 97.5dvw;
    height: 100dvh;
}

#top{
    margin-left: -1.25%;
    width: 102.5%;
    background-color: var(--color-naranja-cafe-fuerte);
    height: 10%;
    transition: all 0.5s ease;
}

#top:hover{
    background-color: var(--color-naranja-cafe-bajo);
    height: 20%;
}

#top #header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    transition: all 300ms ease;
}

#title-main{
    font-size: 2em;
    color: white;
    text-shadow: 0 2px 4px #000006;
}


#calcular-title,
#metodoTitle{
    color: var(--color-naranja-cafe-fuerte);
    font-size: 2em;
    font-weight: bold;
}

#btn-lineal{
    background-color: var(--color-piel-fuerte);

    color: white;
    border: none;
    padding: 1%;
    margin: 1%;
    transition: all 300ms ease;
}

#btn-lineal:hover{
    background-color: var(--color-piel-fuerte);
    transform: scale(1.1);
    box-shadow: 0 0 10px  var(--color-naranja-cafe-bajo), 0 2px 4px  var(--color-naranja-cafe-bajo), 1px 2px 4px  var(--color-naranja-cafe-bajo), 2px 4px 8px  var(--color-naranja-cafe-bajo) ;
}

#btn-lineal:active{
    background-color: var(--color-piel-fuerte);
    transform: scale(1);
    box-shadow: 0 0 10px  var(--color-naranja-cafe-bajo), 0 2px 4px  var(--color-naranja-cafe-bajo), 1px 2px 4px  var(--color-naranja-cafe-bajo), 2px 4px 8px  var(--color-naranja-cafe-bajo) inset;
}

.calcButton button{
    background-color: var(--color-naranja-cafe-fuerte);
    color: white;
    border: none;
    padding: 1%;
    margin: 1%;
    transition: all 300ms ease;
}


#nav-web{
    background-color: var(--color-beige-amarillento);
    box-shadow: 0 0 10px  var(--color-naranja-cafe-bajo), 0 0 10px  var(--color-naranja-cafe-bajo), 0 0 15px  var(--color-naranja-cafe-bajo), 0 0 20px  var(--color-naranja-cafe-bajo) inset;
    display: none;
}

#nav-web li{
    transition: all 300ms ease;
    padding: 0 3%;
}

#nav-web li:hover{
    box-shadow: 0 0 2px var(--color-naranja-cafe-fuerte), 0 0 2px var(--color-naranja-cafe-fuerte), 0 0 2px var(--color-naranja-cafe-fuerte), 0 0 2px var(--color-naranja-cafe-fuerte) inset;
    transform: scale(1.1);
    background-color: var(--color-naranja-cafe-fuerte);

}

#nav-web li p{
    color: var(--color-naranja-cafe-fuerte);
    font-weight: 600;
    transition: all 300ms ease;

}

#nav-web li:hover > p{
    color: #fff;
    text-shadow: 0 2px 4px #000006;
    animation-name: entrada;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

#top #nav-web li:hover ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    padding-left: 0;
    background-color: var(--color-beige-amarillento);
    z-index: 30;
}

#nav-web li ul {
    display: none;
}

#nav-web li ul li{
    width: 100%;
    text-wrap: pretty;
    overflow-wrap: break-word;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    transition: all 300ms ease;
}

#nav-web li ul li p{
    margin-bottom: 0;
    padding: 0 1%;
    transition: all 300ms ease;

}

#nav-web li ul li:first-child{
    border-top: none;
}

#nav-web li ul li:hover{
    border-top: none;
    transform: translateX(10%) scale(1.1);
    background-color: var(--color-naranja-cafe-fuerte);
}

#nav-web li ul li:hover p{
    color: #fff;
    text-shadow: 0 2px 4px #000006;
}

#top:hover #nav-web{
    width: 102.5%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0 -16px;
    padding-left: 0;
}

#top:hover #nav-web li{
    list-style: none;
}

#top:hover #nav-web > p{
    padding: 5% 2%;
    width: 100%;
}


#middle{
    height: 100%;
}

x

#nav{
    display: none;
    width: 100%;
    height: 100%;
    margin-left: -13%
}

#nav li{
    list-style-type: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: -4px 0 2px  rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

#nav li p{
    color: var(--color-naranja-cafe-fuerte);
    font-weight: bold;
    transition: all 0.5s ease;
}

#nav li:hover{
    background-color:#30cd35c8;
    transform: translate(15%, 0) scale(1.1);
}

#nav li:hover p{
    color: var(--color-azul-dino);
    text-shadow: 0 1px 1px #fff, 0 2px 2px #000006;
}


#calculator-container{
    height: min-content;
    display: none;
    transition: all 0.5s ease;
    border: none;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5), 0 2px 10px  rgba(0, 0, 0, 0.5), 0 4px 8px  rgba(0, 0, 0, 0.5), 0 6px 8px  rgba(0, 0, 0, 0.5) ;
    padding: 1%;
    border-radius: 8px;
}


#middle #aside{
    background-color: var(--color-azul-dino);
    width: 10%;
    transition: all 0.5s ease;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}


#aside #nav{
    display: none;
    transition: all 0.5s ease;
    width: 100%;
}

#middle #aside:hover{
    width: 25%;
    justify-content: start;
    background-color: var(--color-verde-dino);
}

#middle #aside:hover #nav{
    display: block;
}

#middle #aside:hover #textMenu{
    display: none;
}

#textMenu{
    justify-self: flex-end;
    font-size: 34px;
    color: var(--color-verde-dino);
    font-weight: 600;
    text-shadow: 0 1px 1px #000006, 0 2px 2px var(--color-verde-dino-bajo),0 1px 1px #000006, 0 2px 2px var(--color-verde-dino-bajo) ;
    transform: rotate(-90deg);
    background-size: 100%;
    width: 500px;
    height: 50px;
    margin-top: 5%;
    transition: all 0.5s ease;
}

#middle #main{
    background-color:#cccc;
}


.button{
    min-width: 20px;
    min-height: 30px;
}

section:first-child{
    background-image: linear-gradient(90deg, var(--color-azul-dino), var(--color-verde-dino));
}

.article{
    background-color: transparent;
}

#footer{
    background-color: var(--color-verde-dino);
}

#footer #integers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

#footer #integers h3,
#footer #integers h5{
    color: var(--color-naranja-cafe-fuerte);
    text-shadow: 0 1px 2px #000006;
    font-weight: bold;
    transition: all 300ms ease;
}

#footer #integers h3:hover{
    color: var(--color-naranja-cafe-bajo);
    text-shadow: 0 2px 1px #fff;
}

#footer #integers h5:hover{
    color: var(--color-naranja-cafe-bajo);
    text-shadow: 0 2px 1px #fff;

}

.calcButton{
    height: 50%;
    justify-content: center;
}

#section-table{
    display: none;
}

.table-result{
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5), 0 2px 10px  rgba(0, 0, 0, 0.5), 0 4px 10px  rgba(0, 0, 0, 0.5), 0 6px 10px  rgba(0, 0, 0, 0.5) inset;
    align-self: start;
}

.table-header{
    background-color: var(--color-naranja-cafe-bajo);
    color: white;
    text-shadow: 0 2px 4px #000006;
    text-align: center;
    border: var(--color-naranja-cafe-fuerte) solid;
    font-weight: bolder;
}

.table-body{
    background-color: var(--color-azul-dino);
    border: var(--color-naranja-cafe-fuerte) solid;
    text-align: center;
    color: var(--color-naranja-cafe-fuerte);
    font-weight: bolder;
    transition: all 300ms ease;
}

.table-result td{
    border: var(--color-naranja-cafe-fuerte) dashed;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    transition: all 300ms ease;
}

.table-result td:hover{
    background-color: var(--color-verde-dino);
    color: white;
    transform: scale(1.1);
    animation-name: entradaArriba;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes entrada {
    0%{
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes entradaArriba {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, -10%);
        opacity: 1;
    }
}